@import url(global.css);

.quadradocentro{
    display: flex; /*deixa tudo dentro de uma "sub-caixa"*/
    align-items: left; /*alinha qualquer coisa no centro verticalmente (só possivel utilizar com display)*/
    justify-content: space-between ; /*alinha qualquer coisa no centro horizonatalmente (só possivel utilizar com display)*/
    background-color: #dc143c; /*cor de fundo (carmesin <3)*/
    margin: 40px 0 80px 0;
    border-radius: 20px; /*faz com que as bordas da div fiquem arredondadas*/
}

.titulodosite{
   width: 40%; 
   margin: 0 45px;
} 

.titulo{
    text-align: center; /*alinha o texto no meio do site*/
    color:bisque; /*faz com que a cor do texto mude para a cor especificada*/
    margin: 15px;
    letter-spacing: 4px;    
}

.textos{
    margin: 30px;
    border: black solid 1px;
    padding: 50px;
}

.textos input{
    margin: 10px 0 10px 0;
} 

.textos input:nth-last-child(3){
    margin-bottom: 25px;
}

.margin-registro{
    margin-right: 80px;

}

.textos h1{
    margin-bottom: 15px;
}

.textos a{
    padding: 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
}